.button_type_edit {
  margin-top: 19px;
  margin-left: 24px;
  width: 24px;
  height: 24px;
  background-color: #000;
  background-image: url('../../../images/buttons/edit.svg');
  background-size: 10px 10px;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  box-sizing: border-box;
  background-position: 50%;
}

@media screen and (max-width: 919px) {
  .button_type_edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    margin-left: 12px;
  }
}
