.button_type_like {
  width: 18.13px;
  height: 20.76px;
  margin-top: 31px;
  background-color: transparent;
  border: none;
  background-image: url('../../../images/buttons/like.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}
